# Dummy .env
# Placeholder for convenienve env variables

ENVIRONMENT=dev
# ENVIRONMENT=stg
# ENVIRONMENT=prod

PROCESS_PREDECESSOR_CONTRACT_ADDRESS=0x0000000000000000000000000000000000000000

## XDAI

# CHAIN_ID=100
# NETWORK_ID=xdai

## SOKOL

CHAIN_ID=77
NETWORK_ID=sokol

## GOERLI

# CHAIN_ID=5
# NETWORK_ID=goerli

## WALLET

MNEMONIC=myth like bonus scare over problem client lizard pioneer submit female collect
# MNEMONIC=perfect kite link property simple eight welcome spring enforce universe barely cargo

#HD_PATH=m/44'/60'/0'/0/0

## PROVIDER

# ENDPOINT=http://127.0.0.1:8545
# ENDPOINT=https://dai.poa.network
ENDPOINT=https://sokol.poa.network
